* {
  margin: 0;
  padding: 0; }

body {
  color: #02798a;
  font-family: Bebas Neue;
  font-size: 18px;
  background: #01001c;
  overflow-x: hidden; }

h2 {
  color: #02fafe;
  font-family: Misto;
  font-size: 36px;
  display: block;
  text-align: center; }

footer {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: inherit;
  margin-right: 300px; }
  footer a {
    display: block; }

.header {
  padding-top: 10px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 77;
  border-bottom: #02798a solid 2px;
  height: 40px;
  width: 30%; }

.menu {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: inherit; }
  .menu a {
    display: block;
    color: #02798a;
    text-decoration: none; }
    .menu a b {
      color: #fff;
      font-family: Exotc350 Bd BT;
      font-size: 24px; }
      .menu a b:hover {
        color: #02fafe; }
    .menu a:hover {
      color: #02fafe; }

.button {
  background: #02fafe;
  border-radius: 30px;
  border: #02fafe solid;
  border-width: 1px;
  color: #01001c;
  font-family: Bebas Neue;
  font-size: 30px;
  padding: 10px 30px;
  font-weight: 600;
  text-decoration: none; }

.bord {
  border-radius: 30px;
  border: #02fafe solid;
  border-width: 2px;
  padding: 15px;
  width: 160px;
  thransition: 0.3 ease;
  animation: 2s linear infinite pufh; }
@keyframes pufh {
  0% {
    transform: scaleX(0.9);
    border-radius: 30px;
    border: #02fafe solid;
    border-width: 3px; }
  25% {
    transform: scaleX(1);
    border-radius: 30px;
    border: #02fafe solid;
    border-width: 2px; }
  100% {
    transform: scaleX(0.9);
    border-radius: 30px;
    border: #02fafe solid;
    border-width: 3px; } }
  .bord:hover {
    background: #02fafe;
    padding: 20px; }

#cont-1 {
  position: relative;
  top: 400px;
  left: 620px; }

.anima {
  height: 100vh;
  width: 100%;
  background: url("../img/promo_01.jpg");
  background-size: cover; }
  .anima h1 {
    position: relative;
    top: 200px;
    left: 100px;
    display: block;
    color: #02fafe;
    font-family: Misto;
    font-size: 72px; }

.about-us {
  padding-top: 60px;
  padding-bottom: 60px;
  height: 520px;
  width: 100%;
  background: #01001c; }
  .about-us p {
    margin: auto;
    font-size: 30px;
    font-weight: 400;
    display: block;
    text-align: center;
    width: 80%;
    background: linear-gradient(to bottom right, #02fafe, #cf72b3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }

.containerrr {
  background: #01001c;
  display: flex;
  flex-direction: row;
  justify-content: inherit;
  align-items: inherit;
  flex-wrap: inherit; }
  .containerrr div {
    padding-top: 30px;
    width: 90%; }

.galery {
  margin-left: 40px;
  display: flex;
  flex-direction: row;
  justify-content: inherit;
  align-items: inherit;
  flex-wrap: wrap; }

.offer {
  width: 250px;
  height: 250px;
  display: block;
  padding: 10px;
  color: #02fafe;
  font-family: Misto;
  font-size: 28px;
  text-decoration: none;
  text-align: center; }
  .offer svg {
    opacity: 0.5; }
  .offer:hover {
    color: #ff00f2; }
  .offer p {
    position: relative;
    top: -145px; }

.player {
  padding: 60px 300px;
  background: #000; }
  .player h2 {
    margin-bottom: 30px; }

.ads {
  height: 180px;
  background: url("../img/promo_13.jpg");
  background-size: cover; }

#but-2 {
  margin-left: 80%;
  position: relative;
  top: 60px; }

#preloader {
  background: #01001c;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 926983746796;
  display: flex;
  flex-direction: inherit;
  justify-content: center;
  align-items: center;
  flex-wrap: inherit; }
  #preloader svg {
    opacity: 1; }

.progress-ring-circle {
  transform-origin: center;
  transform: rotate(-90deg); }

/*# sourceMappingURL=style.css.map */
